# Challenge 3 create direction layer to draw the route to four cities

In [1]:
import pandas as pd 
import requests
import gmaps

from config import g_key

In [4]:
gmaps.configure(api_key=g_key)

In [6]:
vacation_df = pd.read_csv("./data/Weatherpy_vacation.csv")

In [8]:
vacation_df.head()

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,6,Punta Arenas,CL,44.71,-53.1500,-70.9167,Hotel Hain
1,9,Port Elizabeth,ZA,68.09,-33.9180,25.5701,39 On Nile Guest House
2,10,Annau,TM,51.30,37.8876,58.5160,"Гостиница ""Уссат инженер"""
3,13,Donji Milanovac,RS,35.02,44.4627,22.1523,Dream Tricule
4,14,East London,ZA,69.04,-33.0153,27.9116,Tu Casa

In [9]:
# Using the templat add the hote marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Namne</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations = vacation_df[["Lat", "Lng"]]

In [10]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [25]:
vacation_start = vacation_df.loc[vacation_df["City"] == "Bully-Les-Mines"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Rovinj"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Roquebrune-Cap-Martin"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Cortes"]

In [26]:
start = vacation_start["Lat"].values[0], vacation_start["Lng"].values[0]
end = vacation_end["Lat"].values[0], vacation_end["Lng"].values[0]
stop1 = vacation_stop1["Lat"].values[0], vacation_stop1["Lng"].values[0]
stop2 = vacation_stop2["Lat"].values[0], vacation_stop2["Lng"].values[0]
print(start)
print(end)
print(stop1)
print(stop2)

(50.4438, 2.727)
(45.08, 13.64)
(43.7641, 7.4821)
(41.9395, -1.4396)

In [40]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
    start,end,waypoints=[stop1,stop2],
    travel_mode ="DRIVING"
)
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
itenerary_df = pd.concat([vacation_start, vacation_end, vacation_stop1, vacation_stop2])

In [34]:
itenerary_df

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
112,287,Bully-Les-Mines,FR,37.15,50.4438,2.7270,La Maison Rouge Qualys Hotel
187,508,Rovinj,HR,49.19,45.0800,13.6400,Hotel Monte Mulini
88,216,Roquebrune-Cap-Martin,FR,52.54,43.7641,7.4821,Le Méridien Beach Plaza
73,177,Cortes,ES,49.03,41.9395,-1.4396,Rincon de bu

In [36]:
itenerary_df.reset_index(drop=True)

,City_ID,City,Country,Max Temp,Lat,Lng,Hotel Name
0,287,Bully-Les-Mines,FR,37.15,50.4438,2.7270,La Maison Rouge Qualys Hotel
1,508,Rovinj,HR,49.19,45.0800,13.6400,Hotel Monte Mulini
2,216,Roquebrune-Cap-Martin,FR,52.54,43.7641,7.4821,Le Méridien Beach Plaza
3,177,Cortes,ES,49.03,41.9395,-1.4396,Rincon de bu

In [37]:
# Using the templat add the hote marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Namne</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name} at {Max Temp}</dd>
"""
hotel_info = [info_box_template.format(**row) for index, row in itenerary_df.iterrows()]
locations = itenerary_df[["Lat", "Lng"]]

In [39]:
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure()
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))